<div class='mt-4'>
   <h3>Edit course</h3>
   <form method='POST' action='/courses/{{course._id}}?_method=PUT' class='row g-3'>
      <div class='col-md-12'>
         <label for='inputName' class='form-label'>Name</label>
         <input type='text' class='form-control' value='{{course.name}}' id='inputName' name='name' />
      </div>
      <div class='col-md-12'>
         <label for='inputDes' class='form-label'>Description</label>
         <textarea class='form-control' id='inputDes' name='description'>
            {{course.description}}
         </textarea>
      </div>
      <div class='col-md-12'>
         <label for='videoId' class='form-label'>VideoId</label>
         <input type='text' class='form-control' value='{{course.videoId}}' id='videoId' name='videoId' />
      </div>

      <div class='col-12'>
         <button type='submit' class='btn btn-primary'>SAVE</button>
      </div>
   </form>
</div>