<form method="POST">
  <div class="mb-3">
    <label for="searchInput" class="form-label">Nhap tu khoa tim kiem</label>
    <input type="text" name="q" class="form-control" id="searchInput" >
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>